In [3]:
data = [
    {
        "Grade": "A",
        "Marks": {
            "Science": 90,
            "English": 78,
            "Computer": 89,
            "Maths": 89
        }
    },
    {
        "Grade": "B",
        "Marks": {
            "Science": 85,
            "English": 88,
            "Computer": 80,
            "Maths": 76
        }
    },
    {
        "Grade": "A",
        "Marks": {
            "Science": 92,
            "English": 81,
            "Computer": 87,
            "Maths": 93
        }
    },
    {
        "Grade": "C",
        "Marks": {
            "Science": 68,
            "English": 72,
            "Computer": 74,
            "Maths": 70
        }
    },
    {
        "Grade": "B",
        "Marks": {
            "Science": 79,
            "English": 83,
            "Computer": 85,
            "Maths": 82
        }
    },
    {
        "Grade": "A",
        "Marks": {
            "Science": 91,
            "English": 87,
            "Computer": 90,
            "Maths": 89
        }
    },
    {
        "Grade": "C",
        "Marks": {
            "Science": 72,
            "English": 65,
            "Computer": 73,
            "Maths": 69
        }
    },
    {
        "Grade": "B",
        "Marks": {
            "Science": 81,
            "English": 78,
            "Computer": 84,
            "Maths": 79
        }
    },
    {
        "Grade": "A",
        "Marks": {
            "Science": 95,
            "English": 89,
            "Computer": 92,
            "Maths": 94
        }
    },
    {
        "Grade": "C",
        "Marks": {
            "Science": 70,
            "English": 68,
            "Computer": 72,
            "Maths": 66
        }
    }
]

In [6]:
total_count = 0

for i in range(0, len(data)):

    total_count += data[i]["Marks"]["Computer"]

print(total_count)

10

10